.question {
  color: white;
  padding-bottom: $spacer * 1;
}

.quizWrapper {
  &__image {
    height: 400px;
    width: 100%;
    position: relative;
    margin: 0 auto $spacer * 2 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      border-radius: 10px;
      max-width: 100%;
      width: auto;
      height: auto;
      max-height: 100%;
    }
  }
  &__controls {
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    .correct {
      font-size: 40px;
      &[data-correct="true"] {
        color: green;
      }
      &[data-correct="false"] {
        color: red;
      }
    }
  }
  &__form {
    width: 100%;
    max-width: 300px;
    .formGroup {
      label {
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.submitButton {
  margin-top: $spacer * 0.5;
}

.disable {
  opacity: 0.5;
  pointer-events: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: $spacer * 0.5;
}
