.question {
  color: white;
  padding-bottom: $spacer * 1;
}

.quizWrapper {
  &__image {
    max-width: 400px;
    height: 400px;
    width: auto;
    position: relative;
    margin: 0 auto $spacer * 2 auto;
    img {
      border-radius: 10px;
      width: auto;
    }
  }
  &__controls {
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    .correct {
      font-size: 40px;
      &[data-correct="true"] {
        color: green;
      }
      &[data-correct="false"] {
        color: red;
      }
    }
  }
  &__form {
    width: 100%;
    max-width: 300px;
    .formGroup {
      label {
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    // div {
    //   align-items: center;
    // }
    // button {
    //   width: 100%;
    // }
    // & > div {
    //   width: 100%;
    //   & > div {
    //   }
    // }
  }
}

.submitButton {
  margin-top: $spacer * 0.5;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: $spacer * 0.5;
}
