.question {
  color: white;
  padding-bottom: $spacer * 1;
}

.quizWrapper {
  &__image {
    max-width: 400px;
    height: 400px;
    width: auto;
    position: relative;
    margin: 0 auto $spacer * 2 auto;
    img {
      border-radius: 10px;
      width: auto;
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: $spacer * 0.5;
}
