// Ensure these match: lib/constants.js

$spacing: 1rem;

$mobile-max-breakpoint: 767px;

$tablet-min-breakpoint: 768px;
$tablet-max-breakpoint: 1023px;

$desktop-min-breakpoint: 1024px;
$desktop-max-breakpoint: 1239px;

$desktop-lg-min-breakpoint: 1240px;
$desktop-lg-max-breakpoint: 1599px;

$desktop-superlarge-min-breakpoint: 1600px;
$row-max-width: 1430px;
