@import "reset.scss";
@import "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  // background-color: white;
  background-color: lightblue;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(/_next/static/media/dog-bg-smaller.766194a7.jpg);
    background-repeat: repeat;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
