.layout {
  max-width: 100vw;
  min-height: 100vh;
  padding: $spacer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  text-align: center;
}
