.container {
  border: 2px solid red;
  border-radius: 10px;
  background-color: white;
  padding: $spacer * 1 $spacer * 3;
  display: block;
  max-width: 600px;
  width: 100%;

  button {
    margin-top: $spacer * 2;
  }
}
